{:infer-externs true, :output-dir "resources/public/cljs-out/figwheel-default-repl-build", :closure-defines #:figwheel.repl{connect-url "ws://localhost:9500/figwheel-connect?fwprocess=83a35a&fwbuild=figwheel-default-repl-build"}, :aot-cache true, :preloads [figwheel.repl.preload devtools.preload], :output-to "resources/public/cljs-out/figwheel-default-repl-build-main.js", :asset-path "/cljs-out/figwheel-default-repl-build", :repl-requires ([figwheel.repl :refer-macros [conns focus]] [figwheel.main :refer-macros [stop-builds start-builds build-once reset clean status]] [cljs.pprint :refer [pprint] :refer-macros [pp]] [cljs.repl :refer-macros [source doc find-doc apropos dir pst]]), :foreign-libs [{:provides ("vex"), :global-exports {vex Vex}, :file "dist/index.bundle.js"}], :main figwheel.repl.preload, :npm-deps false}