{:deps {org.clojure/clojure {:mvn/version "1.9.0"}
        org.clojure/clojurescript {:mvn/version "1.10.339"}
        org.clojure/core.async {:mvn/version "0.4.500"}
        com.bhauman/figwheel-main {:mvn/version "0.2.3"}
        reagent {:mvn/version "0.8.1"}
        re-frame {:mvn/version "0.10.8"}
        day8.re-frame/undo {:mvn/version "0.3.3"}
        cljs-ajax {:mvn/version "0.8.0"}
        funcool/tubax {:mvn/version "0.2.0"}
        re-pressed {:mvn/version "0.3.1"}
        day8.re-frame/http-fx {:mvn/version "0.1.6"}
        com.bhauman/rebel-readline {:mvn/version "0.1.4"}
        com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}}
 :aliases {:fig {:main-opts ["-m" "figwheel.main"]}
           :rebel {:main-opts ["-m" "rebel-readline.main"]}}
 :paths ["src" "resources" "target" "test"]}